@import url(./fonts.css);

:root {
    --Raleway: "Raleway";
    --OpenSans: "OpenSans";
    --NunitoSans: "NunitoSans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: "OpenSans";
}

/* SITE-HEADER */
.site-logo {
    width: 166px;
    height: 49px;
}
.navbar-nav {
    column-gap: 55px !important;
}
.header__nav-link {
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 400;
    color: #07043B;
}
.navbar-toggler {
border: 1px solid #07043B;
}
.navbar-toggler:focus {
    box-shadow: 0 0 3px #07043B;
}
/* SITE-HEADER */

/* SITE-HERO-INFO */
.site-hero__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.site-headline {
    font-family: var(--Raleway);
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    color: #07043B;
    
}
.site-desc {
    font-family: var(--OpenSans);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #07043B;
}

.site-hero__picture {
    width: 100%;
}
.site-hero__image {
    width: 100%;
}
.header-input {
    border: 1px solid #07043B;
    
}
.header-input::placeholder {
    font-family: var(--OpenSans);
    color: #C2C2C2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.436px;
}
/* SITE-HERO-INFO */

/* SERVICE SECTION */

.service-headline {
    color: #07043B;
    font-family: var(--Raleway);
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.service-desc {
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 529px;
    width: 100%;
    color: #07043B;
}
.service-link {
    color: #3DA08F;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    display: block;
    transition: .5s;
    margin-bottom: 2rem;
   
}
.service-link::after {
    content: "";
    display: block;
    width: 166px;
    height: 1px;
    background-color: #3DA08F;
    margin-top: 4px;
    transition: .5s;
}
.service-link:active {
    color: #71DFCC;
}
.service-link:active::after{
    background-color: #71DFCC;
}
.service-content {
    background-color: #F8F8FE;
}
.card-text {
    color: #07043B;
    font-family: var(--OpenSans);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}
.card-body {
    padding: 34px;
}

.card-link {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.card-ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.ava-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-name {
    font-family: var(--OpenSans);
    font-size: 11px;
    font-weight: 700;
    color: #07043B;
    letter-spacing: 0.55px;
}
.user-job {
    font-family: var(--OpenSans);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .4px;
    color: #07043B;
}
/* SERVICE SECTION */

/* CONTACT SECTION */
.contact {
    background-color: #575988;
   
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contact-title {
    color: #fff;
    font-family: var(--Raleway);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.contact-desc {
    color: #fff;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .5px;
}
.contact-input::placeholder {
    color: #C0C0C0;
    font-weight: var(--Raleway);
    font-size: 12px;
    font-weight: 400;
}

/* CONTACT SECTION */

/* SITE FOOTER */
.site-footer {
    background-color: #07043B;
    padding-top: 92px;
    padding-bottom: 86px;
}

.contact-phone,
.contact-email {
    color: #fff;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 24px;
}

.contact-phone svg,
.contact-email svg{
    margin-right: 16px;
    display: block;
}
.contact-phone__item,
.contact-email__item {
    color: #fff;
    
}
.footer-menu {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-link {
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: .3s;
}
.footer-link:active {
    color: #6C9BFF;
}
.social-list {
    display: flex;
    align-items: center;
    column-gap: 12.5px;
}
.social-link {
    display: block;
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    transition: .3s;
}
.social-link:active {
    color: #6C9BFF;
    border-color: #6C9BFF;
}

.social-icon {
}
/* SITE FOOTER */